In [1]:
import pandas as pd
df = pd.read_csv('home_prices_dummy_value.csv')
df

                town  area   price
0   monroe touwnship  2600  550000
1   monroe touwnship  3000  565000
2   monroe touwnship  3200  610000
3   monroe touwnship  3600  680000
4   monroe touwnship  4000  725000
5       west windsor  2600  585000
6       west windsor  2800  615000
7       west windsor  3300  650000
8       west windsor  3600  710000
9        robinsville  2600  575000
10       robinsville  2900  600000
11       robinsville  3100  620000
12       robinsville  3600  695000

In [3]:
dummies = pd.get_dummies(df.town)

In [4]:
dummies

    monroe touwnship  robinsville  west windsor
0                  1            0             0
1                  1            0             0
2                  1            0             0
3                  1            0             0
4                  1            0             0
5                  0            0             1
6                  0            0             1
7                  0            0             1
8                  0            0             1
9                  0            1             0
10                 0            1             0
11                 0            1             0
12                 0            1             0

In [6]:
marged = pd.concat([df, dummies], axis='columns')
marged

,town,area,price,monroe touwnship,robinsville,west windsor
0,monroe touwnship,2600,550000,1,0,0
1,monroe touwnship,3000,565000,1,0,0
2,monroe touwnship,3200,610000,1,0,0
3,monroe touwnship,3600,680000,1,0,0
4,monroe touwnship,4000,725000,1,0,0
5,west windsor,2600,585000,0,0,1
6,west windsor,2800,615000,0,0,1
7,west windsor,3300,650000,0,0,1
8,west windsor,3600,710000,0,0,1
9,robinsville,2600,575000,0,1,0
10,robinsville,2900,600000,0,1,0
11,robinsville,3100,620000,0,1,0
12,robinsville,3600,695000,0,1,0

In [7]:
final = marged.drop(['town','west windsor'], axis='columns')
final

    area   price  monroe touwnship  robinsville
0   2600  550000                 1            0
1   3000  565000                 1            0
2   3200  610000                 1            0
3   3600  680000                 1            0
4   4000  725000                 1            0
5   2600  585000                 0            0
6   2800  615000                 0            0
7   3300  650000                 0            0
8   3600  710000                 0            0
9   2600  575000                 0            1
10  2900  600000                 0            1
11  3100  620000                 0            1
12  3600  695000                 0            1

In [10]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [12]:
X = final.drop('price',axis='columns')
X

    area  monroe touwnship  robinsville
0   2600                 1            0
1   3000                 1            0
2   3200                 1            0
3   3600                 1            0
4   4000                 1            0
5   2600                 0            0
6   2800                 0            0
7   3300                 0            0
8   3600                 0            0
9   2600                 0            1
10  2900                 0            1
11  3100                 0            1
12  3600                 0            1

In [14]:
y = final.price
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [15]:
model.fit(X,y)

LinearRegression()

In [16]:
model.predict([[2800,0,1]])

C:\Users\USER\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([590775.63964739])

In [18]:
model.predict([[3400,0,0]])

C:\Users\USER\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([681241.66845839])

In [31]:
model.score(X,y)

0.9573929037221873

In [32]:
df

                town  area   price
0   monroe touwnship  2600  550000
1   monroe touwnship  3000  565000
2   monroe touwnship  3200  610000
3   monroe touwnship  3600  680000
4   monroe touwnship  4000  725000
5       west windsor  2600  585000
6       west windsor  2800  615000
7       west windsor  3300  650000
8       west windsor  3600  710000
9        robinsville  2600  575000
10       robinsville  2900  600000
11       robinsville  3100  620000
12       robinsville  3600  695000

In [55]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [38]:
dfle = df
dfle.town = le.fit_transform(dfle.town)
dfle

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

In [39]:
X = df[['town','area']].values
X

array([[   0, 2600],
       [   0, 3000],
       [   0, 3200],
       [   0, 3600],
       [   0, 4000],
       [   2, 2600],
       [   2, 2800],
       [   2, 3300],
       [   2, 3600],
       [   1, 2600],
       [   1, 2900],
       [   1, 3100],
       [   1, 3600]], dtype=int64)

In [40]:
y = dfle.price
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [56]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(categorical_features=[0])

TypeError: __init__() got an unexpected keyword argument 'categorical_features'

In [49]:
X = ohe.fit_transform(X).toarray()
X

array([[0., 1., 1., 0., 1., 0., 0., 1., 1., 0., 1., 0., 1., 0., 1., 0.,
        1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 0., 1., 1., 0.,
        1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0.,
        0., 1., 1., 0., 1., 0., 1., 0.],
       [0., 1., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0.,
        1., 0., 1., 0., 0., 1., 1., 0.],
       [0., 1., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0.,
        1., 0., 1., 0., 1., 0., 0., 1.],
       [1., 0., 1., 0., 0., 1., 0., 1., 1., 0., 1., 0., 1., 0., 1., 0.,
        1., 0., 1., 0., 1., 0., 1., 0.],
       [1., 0., 1., 0., 0., 1., 1., 0., 0., 1., 1., 0., 1., 0., 1., 0.,
        1., 0., 1., 0., 1., 0., 1., 0.],
       [1., 0., 1., 0., 0., 1., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0.,
        1., 0., 0., 1., 1., 0., 1., 0.],
       [1., 0., 1., 0., 0., 1., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0.,
        1., 0., 1., 0., 0., 1., 1., 0.],
       [1., 0., 0., 1., 1., 0., 0., 1., 1., 0., 1., 0., 1., 0., 1., 0.,
        1., 0., 1., 0., 1., 0., 1., 0.],
       [1., 0., 0., 1., 1., 0., 1., 0., 1., 0., 0., 1., 1., 0., 1., 0.,
        1., 0., 1., 0., 1., 0., 1., 0.],
       [1., 0., 0., 1., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 0., 1.,
        1., 0., 1., 0., 1., 0., 1., 0.],
       [1., 0., 0., 1., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0.,
        1., 0., 1., 0., 0., 1., 1., 0.]])

In [50]:
X = X[:,1:]
X

array([[1., 1., 0., 1., 0., 0., 1., 1., 0., 1., 0., 1., 0., 1., 0., 1.,
        0., 1., 0., 1., 0., 1., 0.],
       [1., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 0., 1., 1., 0., 1.,
        0., 1., 0., 1., 0., 1., 0.],
       [1., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 0.,
        1., 1., 0., 1., 0., 1., 0.],
       [1., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1.,
        0., 1., 0., 0., 1., 1., 0.],
       [1., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1.,
        0., 1., 0., 1., 0., 0., 1.],
       [0., 1., 0., 0., 1., 0., 1., 1., 0., 1., 0., 1., 0., 1., 0., 1.,
        0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 0., 1., 1., 0., 0., 1., 1., 0., 1., 0., 1., 0., 1.,
        0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 0., 1., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1.,
        0., 0., 1., 1., 0., 1., 0.],
       [0., 1., 0., 0., 1., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1.,
        0., 1., 0., 0., 1., 1., 0.],
       [0., 0., 1., 1., 0., 0., 1., 1., 0., 1., 0., 1., 0., 1., 0., 1.,
        0., 1., 0., 1., 0., 1., 0.],
       [0., 0., 1., 1., 0., 1., 0., 1., 0., 0., 1., 1., 0., 1., 0., 1.,
        0., 1., 0., 1., 0., 1., 0.],
       [0., 0., 1., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 0., 1., 1.,
        0., 1., 0., 1., 0., 1., 0.],
       [0., 0., 1., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1.,
        0., 1., 0., 0., 1., 1., 0.]])

In [51]:
model.fit(X,y)

LinearRegression()

In [53]:
model.predict([[1,0,2800]])

ValueError: X has 3 features, but LinearRegression is expecting 23 features as input.